.homepageContainer {
    // display: flex;
    // flex-direction: row;
}

.navbar {
    // width: 15%;
    position: relative;
    order: 1;
}

.youMightLike {
    /* width: 30%;
    position: relative;
    margin: 10px; */
    // width: 25%;
    order: 3;
    // padding-left: 25px;
}

.centerContent {
    order: 2;
    flex-direction: column;
}

.tweetForm {

}

.tweetFeed {

}