.home-page {
    
    display: flex;
    flex-direction: row;
        
    
}

.navbar-position {
    width: 20%;
    position: relative;
    order: 1;
}

.profile-position{

}

.tweetForm-position {
    
}

.tweetFeed-position {

}

.yml-position {
    /* width: 30%;
    position: relative;
    margin: 10px; */
    order: 3;
    padding-left: 5px;
}

.center {
    order: 2;
    flex-direction: column;
}



#id {
    flex-direction:column;
}