@import './sassStyles/variables';

* {
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.profilePicture {
    display: flex;
    height: 60px;
    clip-path: circle();
}

.profilePicture:hover {
    cursor: pointer;
}

@media(max-width: $small) {
    .sidePadding {
        // padding-right: .6rem;
        // padding-left: 6rem;
    }
}
