* {
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.profilePicture {
    display: flex;
    height: 60px;
    clip-path: circle();
}

.profilePicture:hover {
    cursor: pointer;
}

.App {
    display: flex;
    flex-direction: row;
}

.navbarLeft {
    width: 15%;
    position: relative;
    order: 1;
}

.middle {
    order: 2;
    flex-direction: column;
    
}

.ymlRight {
    width: 25%;
    order: 3;
    padding-left: 25px;
}
