.loginPageContainer {
    min-height: 100vh;
    display: flex; 
    /* flex-direction: column; 
    align-items: center;  */
    justify-content: center; 
    outline: auto;
    outline-color: white;
    background-color: white;
}