.twitterIcon {
    color: #1DA1F2;
}

.errorAlertBox {
    margin-top: 15px;
}

.loginContainer {
    /* outline: auto;
    outline-color: rgba(0, 0, 0, 0.1); */
    min-height: 30rem;
    min-width: 45rem;
    background-color: white;
    border-radius: 20px;
}