.yml-card-contents {
    height: 100px;
    width: 480px;
    display: flex;
}

.yml-card {
    width: 25%;
    display: flex;
    background: rgba(0, 0, 255, 0.548);
    flex-direction: column;
    justify-content: space-around;
    
    position: fixed;
    right: 1vw;
    top: 10vh;
}

.items {
    display: flex;
    
}

.yml-header {
    color: white;
    padding-left: 30px;
}

.profile-picture {
    height: 100px;
    clip-path: circle();
    
}

.real-name {
    color: white;
}

.follow-button {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.username {
    color: rgb(192, 187, 187);
}

.show-more {
    color: rgb(48, 61, 235);
    padding-left: 30px;
    
}
