.yml-card-contents {
    height: 80px;
    width: 480px;
    display: flex;
}

.yml-card {
    width: 90%;
    display: flex;
    background: rgba(8, 1, 100, 0.548);
    flex-direction: column;
    justify-content: space-around;
    
    right: 1vw;
    top: 10vh;
    border-radius: 20px;
}

.items {
    display: flex;
    align-items: center;
}

.yml-header {
    color: white;
    padding-left: 30px;
}

.profile-picture {
    display: flex;
    height: 60px;
    clip-path: circle();
    
}

.follow-button {
    display: flex;
    align-items: center;
    padding-left: 120px;
}

.username {
    color: rgb(192, 187, 187);
    margin: 2px;
}

.real-name {
    color: white;
    margin: 2px;
}

.show-more {
    color: rgb(48, 61, 235);
    padding-left: 30px;
    
}
