.navbar {
    color: #ffffff;
    /* display: flex;
    position: fixed; */
    left: 0vw;
    top: 10vh;
    
}

ul {
    list-style-type: none;
}

.icons{
   display: flex;
   justify-content: space-between;
   flex-direction: column;
}

.modal{
    overflow: visible;
    /* border: "2px solid #000"; */
    max-width: 50%;
    max-height: 30%;
    display: flex;
    border-radius: "15px"

}