@import '../../sassStyles/variables';

.icons{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.icons:hover > :not(:hover){
    opacity: .6;
}

.modal{

}

.twitterIcon {

}

@media(max-width: $large) {
    .navBarText {
        display: none;
        align-items: center;
    }
    .icons {
        align-items: center;
        padding-right: 1rem;
    }
    
}

@media (max-width: $small) {
    .navbarContainer {
        display: none;
    }
}


ul {
    list-style-type: none;
}

li {
    font-weight: $heavy-font-weight;
    font-size: $large-font-size;
}

