.navbar {
    color: #ffffff;
    /* display: flex;
    position: fixed; */
    left: 0vw;
    top: 10vh;   
}

ul {
    list-style-type: none;
}

li {
    font-weight: 500;
    font-size: large;
    transition: .3s;
}

.icons:hover > :not(:hover){
    opacity: .6;
}

.icons{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.twitter-icon{
    
}

.modal{
    overflow: visible;
    /* border: "2px solid #000"; */
    max-width: 50%;
    max-height: 30%;
    display: flex;
    border-radius: "15px"
}

/** https: //uiverse.io/EmmaxPlay/rude-yak-98 */

/* glow */
Button::before {
    content: "";
    background: linear-gradient(45deg,
            #FF0000, #002BFF, #FF00C8, #002BFF,
            #FF0000, #002BFF, #FF00C8, #002BFF);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* hover */
Button:hover::before {
    opacity: 3;
}

Button:active:after {
    background: transparent;
}

Button:active {
    color: #000;
    font-weight: bold;
}