.navbar {
    color: gray;
    display: flex;
    position: fixed;
    left: 1vw;
    top: 10vh;
}

ul {
    list-style-type: none;
}

.icons{
   display: flex;
   justify-content: space-between;
   flex-direction: column;
}

