@import '../../sassStyles/variables';

.icons{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.icons:hover > :not(:hover){
    opacity: .6;
}

.modal{

}

.twitterIcon {

}

@media(max-width: $large) {
    .navBarText {
        display: none;
        align-items: center;
    }
    .icons {
        align-items: center;
        padding-right: 1rem;
    }
    
}

@media (max-width: $small) {
    // .navbarContainer {
    //     position: fixed;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     background-color: white;
    //     /* Adjust background color as needed */
    //     padding: 10px;
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     z-index: 999;
    //     /* Ensure it appears above other content */
    // }
    // .icons {
    //     flex-direction: row;
    // }
    // .navBarText.bookmarks,
    // .navBarText.lists {
    //     display: none;
    // }
    .navbarContainer {
        display: none;
    }
}


ul {
    list-style-type: none;
}

li {
    font-weight: $heavy-font-weight;
    font-size: $large-font-size;
}

