.homeTweet{
    padding-bottom: 15px;
    border-bottom: 5px solid var(--twitterBackground);
    padding-right: 10px;
}

.homeTweet > form {
    display: flex;
    flex-direction: column;
}

.homeTweetInput{
    padding: 20px;
    display: flex;
}

.homeTweetInput > input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}

.homeTweetButton {
    background-color: var(--twitterColor) !important;
    border: none;
    color: white !important;
    font-weight: bold !important;
    border-radius: 30px !important;
    margin-top: 20px !important;
    width: 90px;
    height: 40px;
    margin-left: auto;
}

.homeTweetImageInput{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-file-upload{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 20px;
}

.tempImageUrl{
    padding: 20px;
    display: flex;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}