.profilePageContainer {
    display: flex;
    flex-direction: row;
}

.navbarPosition {
    width: 15%;
    position: relative;
    order: 1;
}

.ymlPosition {
    /* width: 30%;
    position: relative;
    margin: 10px; */
    width: 25%;
    order: 3;
    padding-left: 25px;
}

.profilePageContent {
    order: 2;
    flex-direction: column;
    width: 65%;

    border: 2px;
    border-style: solid;
    border-color: #ccc;
}