// Colors
$primary-blue: #1DA1F2;
$primary-border-color: #eee;
$primary-subtext-color: #555;
$secondary-subtext-color: rgb(192, 187, 187);

// Sizes
$heavy-font-weight: 500;
$large-font-size: large;
$primary-border-size: 2px;

// Borders
$primary-border-style: solid;

// Media Queries Breakpoints
$small: 600px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;