.profile-information-box {
    border: 2px;
    border-style: solid;
    border-color: yellow;
}

.user-name {
    margin: 0px;
}

.user-handle-subtext {
    margin: 0px;
    color: #555;
}

.user-joined-date {
    margin: 0px;
    margin-top: 10px;
    color: #555;
}

.user-follow-container {
    margin: 0px;
    margin-top: 10px;
}

.user-following {
    margin-right: 10px;
}

.user-followers {
}