.red{
    color:red !important;
}
.grey{
    color:grey !important;
}

/* const styles = {
    .tweet-card {
            color: black;
        }
} */

/* .MuiCardActions-spacing{
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

/* .heart-clip {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    clip-path: url(#svgPath);

    &:hover {
        animation: pulse 0.6s 0.3s infinite;

        &::before {
            transform: scale(1);
            opacity: 1;
        }
    }

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $red;
        opacity: 0;
        transform: scale(0);
        transition: transform 0.2s linear, opacity 0.2s linear;
        transform-origin: center 60%;
    }

    &.active {
        animation: pulse 0.6s 0.3s forwards;
    }
} */

img.profile-picture:hover {
    cursor: pointer;
}