.red{
    color:red !important;
}
.grey{
    color:grey !important;
}

.MuiCardContent-root {
    user-select: none;
    cursor: pointer;
    touch-action: manipulation;
    display: block;
    background: transparent;
    border: 0;
}


.tweetBody {
    display: flex;
    flex-direction: column;
}