.red{
    color:red !important;
}
.grey{
    color:grey !important;
}
.css-46bh2p-MuiCardContent-root {
    cursor: pointer;
}
.tweet-body {
    user-select: none !important;
    cursor: pointer !important;
    touch-action: manipulation !important;
    display: block !important;
    background: transparent !important;
    border: 0 !important;
}

.css-46bh2p-MuiCardContent-root {
    user-select: none;
        cursor: pointer;
        touch-action: manipulation;
        display: block;
        background: transparent;
        border: 0;
}

.MuiCardContent-root {
    user-select: none !important;
        cursor: pointer !important;
        touch-action: manipulation !important;
        display: block !important;
        background: transparent !important;
        border: 0 !important;
}