.registrationPageContainer {
    display: flex;
    flex-direction: row;
}

.registrationPageContent {
    order: 2;
    flex-direction: column;
    width: 65%;
}

.navbarPosition {
    width: 15%;
    position: relative;
    order: 1;
}