.title {
    display: flex;
    align-items: center;
    
}

.tweet-form {
    /* width: 100vw;
    height: 100vh; */
    /* border-radius: 5px; */
}

/* .container {
    border-bottom: solid gray;
} */
