.tweetForm {
    // width: 100vw;
    // height: 100vh; 
    // border-radius: 5px;
}

.container {
    display: flex;
    align-items: center;
}

.tweetButton {
    display: flex;
    justify-content:center;
} 

.imageUploadIcon:hover {
    opacity: 0.6;
    transition: 0.3s;
  }