/* .title {
    display: flex;
    align-items: center;
    
} */

.tweet-form {
    /* width: 100vw;
    height: 100vh; */
    /* border-radius: 5px;
    background-color: red !important; */
}

/* .container {
    border-bottom: solid gray;
} */

.container {
    display: flex;
    align-items: center;
}


/* .tweet-button {
    display: flex;
    justify-content:center;
} */
